$font-color: whitesmoke;
$font-family: 'Abel';

body, html, div {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: $font-color;
  font-family: $font-family;
  background: -webkit-linear-gradient(360deg,#00537E 10%,#3AA17E 360%);
  background: linear-gradient(360deg,#00537E 10%,#3AA17E 360%);
  height: 100vh;
  width: 100vw;

  h1 {
    font-size: 4em;
  }

  p {
    font-size: 2.5em;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  @media (orientation: landscape) {
    height: 100%;
    width: 100%;
  }
  @media (orientation: portrait) {
    height: 100%;
    width: 100%;
  }
  justify-content: center;

  @media (orientation: portrait) {
    flex-direction: column;
  }

  .inner {
    height: 75%;
    width: calc(100% / 3);
    text-align: center;
    @media (orientation: landscape) {
      margin-bottom: auto;
      margin-top: auto;
    }
    @media (orientation: portrait) {
      margin-left: auto;
      margin-right: auto;
      height: 50%;
      width: 100%;
    }
    section {
      padding: 5em;
    }
  }

  .left {
    order: -1;

    .answer {
      padding-top: 0;
    }

    .languages {
      margin-top: 0.5em;
    }

    .languages::after {
      font-family: "Caveat Brush";
      font-size: 2em;
      background: -webkit-linear-gradient(#5cff00, #3AA17E);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      min-width: 50%;
      content: 'Html';
      animation: linear;
      animation-name: animation-languages;
      animation-duration: 15s;
      animation-iteration-count: infinite;
    }
  }

  .right {
    order: 2;

    section {
      padding-top: calc(100% / 3);
      max-height: calc(100% / 3);
    }

    a:link, a:visited, a:active {
      color: whitesmoke;
      text-decoration-line: none;
    }
  }
}

/* The animation code */
@keyframes animation-languages {
  11% {
    content: 'Css/Scss';
  }
  22% {
    content: 'JavaScript';
  }
  33% {
    content: 'Vue';
  }
  44% {
    content: 'PHP';
  }
  55% {
    content: 'C#';
  }
  66% {
    content: 'MySql';
  }
  77% {
    content: 'Webpack';
  }
  88% {
    content: 'Git';
  }
}
