$font-color: whitesmoke;
$font-family: 'Abel';

body, html, div {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: $font-color;
  font-family: $font-family;
  background: -webkit-linear-gradient(360deg,#00537E 10%,#3AA17E 360%);
  background: linear-gradient(360deg,#00537E 10%,#3AA17E 360%);
  height: 100vh;
  width: 100vw;

  h1 {
    font-size: 4em;
    @media (max-device-width: 1079px) {
      font-size: 2em;
    }
  }

  p {
    font-size: 2.5em;
    @media (max-device-width: 1079px) {
      font-size: 1.5em;
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  @media (orientation: landscape) {
    height: 100%;
    width: 100%;
  }
  @media (orientation: portrait) {
    height: 100%;
    width: 100%;
  }
  justify-content: center;

  @media (orientation: portrait) {
    flex-direction: column;
  }

  section {
    padding: 5em;
    @media (orientation: portrait) {
      @media (max-device-height: 1000px) {
        padding: 3em;
      }
      h1 {
        margin-top: 0;
      }
    }

    @media (orientation: landscape) {
      @media (max-device-width: 1079px) {
        padding: 3em;
      }

      @media (max-device-height: 400px) {
        padding: 0;
        h1 {
          margin-top: 0;
        }
      }
    }
  }

  .inner {
    height: 75%;
    width: calc(100% / 3);
    text-align: center;
    @media (orientation: landscape) {
      margin-bottom: auto;
      margin-top: auto;
    }
    @media (orientation: portrait) {
      margin-left: auto;
      margin-right: auto;
      height: 50%;
      width: 100%;
    }
  }

  .left {
    order: -1;

    .question {
      padding-bottom: 0;
    }

    .answer {
      padding-top: 0;
      opacity: 0;
      animation: fadeIn 1s ease-in 1.5s forwards;
    }

    .languages {
      margin-top: 0.5em;
    }

    .languages::after {
      font-family: "Caveat Brush";
      font-size: 2em;
      background: -webkit-linear-gradient(#5cff00, #3AA17E);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      min-width: 50%;
      content: 'Html';
      animation: linear;
      animation-name: languages;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      animation-delay: 2.5s;
    }
  }

  .right {
    order: 2;

    section {
      max-height: 50%;
    }

    .contact {

      a:link, a:visited, a:active {
        color: whitesmoke;
        text-decoration-line: none;
      }

      @media (orientation: landscape) and (max-device-height: 400px) {
        padding-top: 10%;
      }
    }

    .logo {
      opacity: 0;
      height: 35vh;
      @media (orientation: portrait) and (max-device-height: 1079px) {
        height: 25vh;
      }
      width: auto;
      background-image: url("../assets/images/me.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      animation: slideMeSoft 1s ease-in 3s forwards;

    }

    .information {
      opacity: 0;
      animation: slideMe 1s ease-in 4s forwards;
    }
  }
}

/* The animation code */
@keyframes languages {
  12% {
    content: 'Css/Scss';
  }
  24% {
    content: 'JavaScript';
  }
  36% {
    content: 'Vue';
  }
  48% {
    content: 'PHP';
  }
  60% {
    content: 'C#';
  }
  72% {
    content: 'MySql';
  }
  84% {
    content: 'Webpack';
  }
  96% {
    content: 'Git';
  }
}

@keyframes slideMe {
  0%{
    transform: skewX(53deg) translateX(+500px);
    opacity: 0;
  }
  60%{
    transform: translateX(0px);
  }
  62%{
    transform: skewX(0deg) translateX(30px);
  }
  70%{
    transform: skew(-20deg);
    opacity: 1;
  }
  80%{
    transform: skew(0deg) translate(0);
  }
  90%{
    transform: skew(-5deg);
  }
  100%{
    transform: skew(0deg);
    opacity: 1;
  }
}

@keyframes slideMeSoft {
  0%{
    transform: translateX(+500px);
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100%{
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}